body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat';
}

p{
  color: #8f8f8f;
  font-family: "Montserrat";
}
/* heading */

.big-heading{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
/* container */
.container-fluid{
  padding: 7% 15%;
}

/* section */

.colored-section{
  background-color:#ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* titel section */
#title{
  text-align: left;
}

#title.container-fluid{
  padding: 3% 15% 7%;
}

/* Title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* nav */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
/* Bootstrap-button */
.downloaded-button{
  margin: 5% 3% 5% 0;
}

/* features */
.feature-box{
  padding: 5%;
}
#features{
  position: relative;
  z-index: 1;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.feature-title{
    font-size: 1.5rem;
}

/* testimonials */
#testimonials{
  text-align:center;
  background-color: #ff4c68;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ff4c68;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}
/* pricing */

#pricing{
  padding: 100px;
}
.pricing-col{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;}

/* title Image for mobile and tablet view */
@media (max-width: 1020px) {

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
/* foot section */
.social-logo{
  margin: 10px 20px;
  color: Black;
}
.social-logo:hover{
  color: #ef8172;
}
